<h3>CADASTRO DE PRATO:</h3>

<form clrForm [formGroup]="formPrato" (ngSubmit)="salvar(formPrato.value)">
  <clr-input-container>
    <label>Descrição: </label>
    <input
      clrInput
      type="text"
      placeholder="Digite a descrição"
      formControlName="descricao"
      required
    />
  </clr-input-container>
  <clr-select-container>
    <label>Restaurante: </label>
    <select clrSelect formControlName="restaurante">
      <option *ngFor="let restaurante of restaurantes" [ngValue]="restaurante">
        {{ restaurante.descricao }}
      </option>
    </select>
  </clr-select-container>

  <clr-input-container>
    <label>Valor: </label>
    <input
      clrInput
      type="text"
      placeholder="Digite o valor"
      formControlName="valor"
      required
    />
  </clr-input-container>

  <button class="btn btn-primary" type="submit" [disabled]="!formPrato.valid">
    Adicionar
  </button>
</form>
